.chat_main

  .chat_main__group--info
    .chat_main__group--info_name_member
      .chat_main__group--info_name_member_name
        = @group.name
        .chat_main__group--info_name_member_member
          MEMBER:  
          - @group.users.each do |user|
            = user.name
    .chat_main__group--info_edit
      = link_to edit_group_path(@group.id), class:"chat_main__group--info_edit_url" do
        Edit

  .chat_main__message--list
    = render @messages

  .chat_main__message--form
    = form_for [@group, @message], html:{class:"chat_main__message--form_type_image"} do |f|
      = f.text_field :content, class: 'chat_main__message--form_type_image', placeholder: 'type a message'
      .chat_main__message--form_type_image_type
        = f.label :image, class: 'chat_main__message--form_type_image_image' do
          = icon('fas', 'image', class: 'chat_main__message--form_type_image_label')
          = f.file_field :image, class: 'chat_main__message--form_type_image_type_input'
      = f.submit 'Send', class: 'chat_main__message--form_send'