.side_bar

  .side_bar__user
    .side_bar__user--name_icon
      .side_bar__user--name_icon_name
        = current_user.name
      .side_bar__user--name_icon_icon
        .side_bar__user--name_icon_icon_create
          = link_to new_group_path(current_user),class:"side_bar__user--name_icon_icon_create_url" do
            %i.far.fa-edit.marginleft
        .side_bar__user--name_icon_icon_edit
          = link_to edit_user_path(current_user),class:"side_bar__user--name_icon_icon_edit_url" do
            %i.fa.fa-cog

  .side_bar__group--list
    .side_bar__group--list_groups
      - current_user.groups.each do |group|
        .side_bar__group--list_groups_group
          = link_to group_messages_path(group) do
            .side_bar__group--list_groups_group_name
              = group.name
            .side_bar__group--list_groups_group_message
              = group.show_last_message

              